.custom__input{
    min-width: 300px;
}

.link__style{
    color:var(--medium-blue-color);
    text-decoration: none;
}

.link__style:hover{
    color:var(--dark-blue-color);
    font-weight: bold;
    text-decoration: none;
}