:root {
    --light-blue-color: #2fb2b9;
    --medium-blue-color: #3e7dd0;
    --primary-blue-color: #007bff;
    --secondary-blue-color: #44697d;
}

.brand__logo__text{
    font-size: 1.6rem !important
}
.selected{
    color: var(--medium-blue-color) !important;
    font-weight: bold;
}

.text__style{
    color: var(--light-blue-color);
    font-weight: 500 !important;
    font-size: 1.3rem ;
}

.text__style__sm{
    font-weight: 500;
    font-size: 1rem;
    color: var(--light-blue-color) !important;
}

.text__style__xs{
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--light-blue-color) !important;
}

.text__style:hover{
    color: var(--medium-blue-color) !important;
}


.link__style{
    margin: 0 10px;
}


.link__style:hover {
    text-decoration: none;
}

.logo__wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown__content:hover{

}

