.footer__container {
    background-color: #3ec8d0;
    padding-top: 20px ;
    padding-bottom: 15px ;
}

ul {
    list-style: none;
    margin-left: 0;

 }

.footer__img {
    width: 250px;
    margin: 5px 10px;
}
.footer__item__hover:hover{
    color: black!important;
    cursor: pointer;
}

.second__footer{
    border-top: 2px solid rgba(232,236,241,0.4);
}

.footer__text__1{
    font-size: 1.5rem;
}

.media__icon{
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    margin: 5px;
}

.li__element{
    list-style-type: none;
    align-self: start;
    
}